body {
    background-color: #1e90ff; /* Azul */
}
/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eb0b7b;
    color: #c50e0e;
}

/* HEADER */
header {
    text-align: center;
    padding: 40px 20px;
    background-color: #f7d6e6;
    color: #6b2e4e;
}

header h1 {
    margin: 0;
    font-size: 2.3rem;
}

header p {
    margin-top: 5px;
    font-size: 1.1rem;
}

/* BANNER */
.banner img {
    width: 100%;
    height: auto;
    display: block;
}

/* INTRO */
.intro {
    padding: 40px 20px;
    text-align: center;
}

.intro h2 {
    color: #a34b7a;
    font-size: 1.8rem;
}

.intro p {
    max-width: 800px;
    margin: auto;
    font-size: 1.1rem;
    line-height: 1.6;
}

/* SERVICIOS */
.servicios {
    padding: 40px 20px;
    background-color: #ffeef6;
}

.servicios h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #a34b7a;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: rgb(240, 4, 4);
    width: 270px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.card h3 {
    color: #170bc5;
}

/* CONTACTO */
.contacto {
    padding: 40px 20px;
    text-align: center;
}

.contacto h2 {
    color: #a34b7a;
}

/* FOOTER */
footer {
    background-color: #f7d6e6;
    padding: 15px;
    text-align: center;
    color: #6b2e4e;
}
